.DS_Store
# Ignore node_modules directory
frontend/node_modules/
backend/node_modules/

frontend/package-lock.json

backend/dist/
backend/package-lock.json

# Ignore .env file
.env

backend/tutorial.md