@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#root {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100%;
  width: 100%;
}

/* remove default button of <input type="number" /> */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Product Description Styling */
.product-description {
  @apply prose prose-sm max-w-none text-gray-700;
}

/* Style for <figure>, <img>, and <figcaption> inside description */
.product-description figure {
  @apply flex flex-col items-center text-center my-8;
}

.product-description img {
  @apply block max-w-full md:max-w-[80%] lg:max-w-[70%] h-auto mx-auto rounded-xl shadow-md;
}

.product-description figcaption {
  @apply italic text-gray-500 mt-3 text-sm text-center;
}

/* Style for <table> in description */
.product-description table {
  @apply border-collapse w-full my-6 text-sm;
}

.product-description th,
.product-description td {
  @apply border border-gray-300 px-4 py-2;
}

.product-description th {
  @apply bg-gray-100 font-semibold;
}

/* App Modal */
#app-modal[open] {
  animation: zoom-out-from-mid 0.2s ease-in-out;
}

#app-modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoom-out-from-mid {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(0.25);
    opacity: 0.25;
  }
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  75% {
    transform: scale(0.75);
    opacity: 0.75;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
